.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}

.calc-wrapper {
    width: 400px;
    height: 600px;
}

.list-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 400px;
}

.row {
    display: flex;
    width: 100%;
}

.calcLogTitle, li  {
    margin: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2em;
    color: purple;
    padding: 6px;
    position: relative;
    bottom: 80px;
}

ul {
    display: flex;
    text-align: center;
    align-items: center;
}

.calcLogTitle {
    border-bottom: 1px solid purple;
    padding: 0 0 4px;
    text-align: center;
}

  @media screen and (min-width: 1200px) {
    .container {
      width: 50%;
      display: inline-flex;
    }
    .list-wrapper {
        margin-left: 25px;
    }
  }